#clients{
  .client-logo-container{
    margin-bottom: 2rem;

    .client-logo-wrapper{
      img{
        width: 42%;
        margin-bottom: 3rem;
      }
      img:nth-of-type(odd){
        margin-right: 3rem;
      }
    }
  }
}