@import './_variables';

footer {
  padding: 3rem 0;
  font-size: 0.9rem;
  line-height: 28px;
  background: $background;
  border-top: $sectionSeparator 1px solid;

  div {
    text-align: right;
    margin-top: 1rem;

    &:nth-child(1) {
      text-align: left;
    }
  }

  div:last-child{
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: bolder;
    position: relative;
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      margin: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  footer {
    div {
      text-align: center;

      &:nth-child(1) {
        text-align: center;
      }
    }

    h3 {
      margin-bottom: 2rem;

      &:after {
        bottom: -1rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        content: '';
        width: 35px;
        position: absolute;
        border-bottom: #0a0a0a 3px solid;
      }
    }
  }
}